{% extends "base.html" %}

{% block content %}
<h1>Register</h1>

<div id="Register-form">
    {% if messages %}
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endif %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
                <div class="alert alert-danger">
                    <strong>{{ error|escape }}</strong>
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
</div>
<form hx-post="/register/" hx-headers="{'X-CSRFToken': '{{ csrf_token }}'}" hx-target="#Register-form">
    <div class="form-group">
        <label for="username">Username</label>
        <input class="form-control" type="text" name="username" id="username"  placeholder="Username" required>
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input class="form-control" type="email" name="email" id="email" placeholder="Email" required>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input class="form-control" type="password" name="password" id="password" placeholder="Password" required>
    </div>
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input class="form-control" type="password" name="password2" id="password2" placeholder="Confirm Password" required>
    </div>
    <div class="form-group">
        <input class="btn btn-primary" type="submit" value="Register">
    </div>
</form>
{% endblock %}