{% block content %}
<ul class="">
    {% for user in users %}
    {% if user not in request.user.friends.all and user != request.user %}
    <h1>{{user.username}} <a href="/send_friend_request/{{user.username}}/">send friend request</a></h1>
    {% endif %}
    {% endfor %}
</ul>
<h1>Friend request</h1>
{% for friend_request in all_friend_request %}
    <h1>{{friend_request.from_user}}
            <a href="/accept_friend_request/{{friend_request.id}}/">
                accept friend request </a>
    </h1>
{% endfor %}
{% endblock %}