<div class="container-fluid h-100">
<div class="row" style="min-height:95vh;">
  <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar" style="width:20%;">
    <div class="sidebar-sticky d-flex justify-content-center align-items-center">
        <ul class="nav flex-column text-center w-100 align-items-center setting-list">
            <div class="square-img-container rounded-circle border-light border border-2 m-2">
                <img class="user-img img-fluid" src="" onerror="this.src='/media/default/default.webp';">
            </div>
            <form id="upload-image" method="post" action="/api/change-info/">
                <label for="user-img-changer" style="cursor: pointer;">
                    <i class="fa-solid fa-arrows-rotate" style="color:white; margin-right: 50%;"></i>
                </label>
                <input type="file" id="user-img-changer" name="image" accept="image/*" style="display: none;">
            </form>
            <hr style="color:white; width:100%;">
            <li class="nav-item" >
                <a class="nav-link text-white" href="/account/stats/">
                    <i style="padding-right: 10px;"class="fa-solid fa-chart-pie"></i>
                    Statistics
                </a>
            </li>
            <li class="nav-item" >
                <a class="nav-link text-white" href="/account/match-history/">
                    <i style="padding-right: 10px;" class="fa-solid fa-clock-rotate-left"></i>
                    Match History
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/account/update-info/">
                    <i style="padding-right: 10px;"class="fa-solid fa-gear"></i>
                    Update Infos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/account/friends/">
                    <i style="padding-right: 10px;"class="fa-solid fa-user-group"></i>
                    Friends
                </a>
            </li>
        </ul>
    </div>
</nav>
<main id="account-dynamic-section" style="width:80%;">
    {% include 'friends.html' %}
    {% include 'update-info.html' %}
    {% include 'stats.html' %}
    {% include 'match-history.html' %}
</main> 
</div>
</div>
