<div class="container-fluid">
<div class="row h-100">
  <nav class="col-md-3 col-lg-2 d-md-block bg-dark sidebar vh-100" style="width:20%;">
    <div class="sidebar-sticky d-flex justify-content-center align-items-center">
        <ul class="nav flex-column text-center w-100 align-items-center setting-list">
            <div class="square-img-container rounded-circle border-light border border-2 m-2">
                <img class="img-fluid" src="{{ user.image }}">
            </div>
            <form id="upload-image" class="" method="post" action="/upload_img/" enctype="multipart/form-data" content='{ "content_type": "upload_img" }'>
                {% csrf_token %}
            <label for="photo" style="cursor: pointer;">
                <i class="fa-solid fa-arrows-rotate" style="color:white; margin-right: 50%;"></i>
            </label>
            <input type="file" id="photo" name="photo" accept="image/*" style="display: none;" required onchange="handleFileSelection()">
            </form>
            <hr style="color:white; width:100%;">
            <li class="nav-item" >
                <a class="nav-link text-white" href="/account/stats/">
                    <i style="padding-right: 10px;"class="fa-solid fa-chart-pie"></i>
                    Statistics
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/account/update-info/">
                    <i style="padding-right: 10px;"class="fa-solid fa-gear"></i>
                    Update Infos
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-white" href="/account/friends/">
                    <i style="padding-right: 10px;"class="fa-solid fa-user-group"></i>
                    Friends
                </a>
            </li>
        </ul>
    </div>
</nav>
<section id="account-dynamic-section" style="width:80%;">
    {% include 'friends.html' %}
    {% include 'update-info.html' %}
    {% include 'stats.html' %}
</section> 
</div>
</div>
<script>    
    function handleFileSelection() {
        document.getElementById('upload-image').submit();
    }
</script>
