<section id="account-friends" class="hidden friend-page">
    <div class="left-column">
        <div class="friend-grid">
            <form id="search-user-form">
                <div class="request username">
                    <h2>Add friend</h2>
                    <div class="d-flex justify-content-between align-items-center">
                        <label for="search-user-input">Search user:</label>
                        <input id="search-user-input" type="request" name="request" class="m-2" required>
                        <button type="button" id="search-user-button">Search</button>
                    </div>
                </div>
            </form>
            <div id="users-container" class="w-100"></div>
        </div>
        <div class="friend-grid">
            <h2>Friend requests</h2>
            <div id="friends-requests-container" class="w-100"></div>    
        </div>
    </div>
    <div class="right-column">
        <div class="friend-grid">
            <h2>Friends</h2>
            <div id="friends-container" class="w-100"></div>   
        </div>
        <div class="friend-grid">
            <h2>Blocked users</h2>
            <div id="blocked-users-container" class="w-100"></div>  
        </div>
    </div>
</section>
