<div id="account-friends" class="hidden">
    <form id="friend-request-form">
        <div class="request username">
            <h1>Request friendship</h1>
            <label for="request">Username:</label>
            <input id="friend-request-input" type="request" name="request" required>
        </div>
    </form>
    <button type="button" id="friend-request-button" class="btn btn-primary">Make request</button>
    
    <h1>Friend requests</h1>
    <div id="friends-requests-container"></div>    

    <h1>Friends</h2>
    <div id="friends-container"></div>
</div>
