<div id="account-info" style="display: none;">
    <form id="change-info-form" class="w-25" method="put" action="/api/change_info/" enctype="multipart/form-data">
        <div class="username">
            <label for="username">Username:</label>
            <input type="username" name="username" required>
        </div>
        <div class="image">
            <label for="image">Image:</label>
            <input type="file" name="image" accept="image/*">
        </div>
    </form>
    <button id="change-info-button" type="button" class="mt-2 btn btn-primary">Apply changes</button>
</div>
