<section id="account-stats" class="hidden">
    <!-- <div class="greyed-out">
        Distance traveled (units relative to canvas) (translated to first pong arcade size, *historic fact!* ) (5.375 inch)<br>
        Longest exhange: 9000<br>
        Win / Loss ratio<br>
        Number of games<br>
        Most dominated opponent (and vice versa)<br>
        Friend with least chat exchanges: [fix your relationship (chat with random automatic message)]<br>
        Number of swear words said (your number, highest number among all users [button to insult that motherfucker])<br>
    </div> -->
    <div id="api-stats">
    </div>
    <h1>Match history:</h1>
    <div id="match-history">
    </div>
</section>