<section id="account-update-info" class="hidden update-section">
    <form id="update-info-form" class="update-form" action="/api/change-info/">
        <div class="update-infos-container">
        <div class="username">
            <label for="update-info-username">Username:</label>
            <input id="update-info-username" type="username" name="username" required>
        </div>
        <div class="email">
            <label for="update-info-email">Email:</label>
            <input id="update-info-email" type="email" name="email" required>
        </div>
        <div id="change-password">
            <div class="old-password"> 
                <label for="update-info-old-password">Current password:</label>
                <input id="update-info-old-password" type="password" name="old-password" required>
            </div>
            <div class="password1"> 
                <label for="update-info-password1">New password:</label>
                <input id="update-info-password1" type="password" name="password1" required>
            </div>
            <div class="password2">
                <label for="update-info-password2">Confirm new password:</label>
                <input id="update-info-password2" type="password" name="password2" required>
            </div>
        </div>
        <button id="update-info-button" type="button" class="mt-2 btn btn-primary">Update info</button>
        </div>
        
    </form>
</section>
