<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>Pong</title>
		<link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon">
		<link rel="stylesheet" href="static/app/css/pong.css">
	</head>
	<body>
		<h1>Poong</h1>
		<canvas id="webgl-canvas" width="1000" height="800"></canvas>
		<button id="ping-button" onclick="ping()">Ping</button>
		<script src="static/app/js/webgl.js"></script>
		<script src="static/app/js/res.js"></script>
		<script src="static/app/js/pong.js"></script>
	</body>
</html>