#webgl-canvas {
  display: block;
  margin: auto;
  width: 1000px;
  height: 800px;
  background-color: #66f04b;
}
/* global */
#pong-container {
  background-color: #000000;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}
