<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="/static/htmx/htmx.js" defer></script>
    <link rel="stylesheet" href="/static/styles.css">
    <title>ft_transcendence</title>
  </head>
  <body id="dynamic-body">
    {% include "nav.html" %}
    <main id="dynamic-content">
      {% block content %}
      {% endblock %}
    </main>
    <!-- Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/78a70a96fa.js" crossorigin="anonymous"></script>
    <script src="/static/js/nav.js"></script>
    <script>
      const isAuthenticated = document.cookie.includes("sessionid");
      console.log("isAuthenticated:", isAuthenticated);
    </script>
  </body>
</html>