{% extends "base.html" %}
{% block content %}
<h1>Login</h1>
<p class="text-muted">Don't have an account? <a href="/register">Register</a></p>
{% if form.errors %}
    <div class="alert alert-danger" role="alert">
        <ul>
            {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
            {% endfor %}
        </ul>
    </div>
{% endif %}
<hr>
<form method="POST" action="/login">
    {% csrf_token %}
    <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
    </div>
    <button type="submit" class="btn btn-primary">Login</button>
{% endblock %}