{% extends request.htmx|yesno:"partial.html,base.html" %}
{% load crispy_forms_tags %}

{% block content %}
<div class="overlay"></div>
<div class="content">
<h1>Register</h1>
<p class="text-muted">Already have an account? <a href="#" hx-get="/login/" hx-target="#dynamic-content" hx-push-url="true">Login</a></p>
<form method="post" action="{% url 'register' %}" class="form">
  {% csrf_token %}
  {{ form|crispy }}
  <div class="form-group">
    <button type="submit" class="btn btn-primary">Register</button>
  </div>
</form>
</div>
</div>
{% endblock %}