.floating-box {
    display: flex;
    position: fixed;
    top: 20%;
    left: 30%;
    width: 40%;
    height: 60%;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
    z-index: 1000;
}

.overlay {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.1);
    cursor: default;
}

.form-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 10% 0px 10%;
}

.form-container form {
    width: 100%;
    height: 100%;
}

.form-error {
    color: red;
}

.form-container button {
    display: flex;
    align-items: center;
}

.square-img-container {
    display: flex;
    justify-content: center;
    min-width:60%;
    overflow: hidden;
    position: relative;
}

.square-img-container::before {
    content: "";
    padding-top: 100%;
    display: block;
}

.square-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
}

.connected {
    display: none;
}

.anonymous {
    display: block;
}

.hidden {
    display: none;
}