<div id="pong-container">
    <div id="opponent-username" class="pong-text"></div>
    <canvas id="webgl-canvas"></canvas>
    <button id="ping-button"></button>
    <div id="tournament-summary" class="pong-text">
    <div class="round r-of-4">
  <div class="bracket-game">
    <div class="player top win first"></div>
    <div class="player bot loss"></div>
  </div>
  <div class="bracket-game cont">
    <div class="player top win second"></div>
    <div class="player bot loss"></div>
  </div>
</div>
<div class="connectors r-of-2">
  <div class="top-line"></div>
  <div class="bottom-line"></div>
  <div class="vert-line"></div>
  <div class="next-line"></div>
</div>
<div class="round r-of-2">
  <div class="bracket-game">
    <div class="player top loss second">
      <!-- Snute -->
    </div>
    <div class="player bot win first">
      <!-- MC -->
    </div>
  </div>
</div>
    </div>