<div class="form-container" id="register">
    <h1>Register</h1>
    <p class="text-muted">Already have an account?
      <a href="/login/">Login</a>
    </p>
    
    <form id="register-form" action="/api/register/" method="post">
      <div class="username">
        <label for="username">Username:</label>
        <input type="text" name="username" required>
      </div>
      <div class="email">
        <label for="email">Email:</label>
        <input type="email" name="email" required>
      </div>
      <div class="password1"> 
        <label for="password1">Password:</label>
        <input type="password" name="password1" required>
      </div>
      <div class="password2">
        <label for="password2">Confirm Password:</label>
        <input type="password" name="password2" required>
      </div>
    </form>
    <button id="register-button" class="btn btn-primary">Register</button>
  
  </div>